<form action="/add-weight" method="post" id="weight-form">
    <label for="weight">Weight:</label>
    <input type="number" id="weight" name="weight" required min="0" step="any">
    <br><br>
    <button type="submit">Add Weight</button>
</form>
