<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Weight Management App</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <header>
        <h1>FitTrack</h1>
        <h3>Your personal tracker for weight management and health goals</h3>
    </header>
    <nav class="center">
        <a href="/users/signup">SignUp</a>
        <a href="/users/login">Login</a>
        <a href="/users/about-us">About Us</a>
    </nav>

    <main>
        <section class="actions">

            <h2>Get Started</h2>
            <p>Join us today to take control of your weight management journey. Sign up to create your personal account, where you can easily log your weights, track your progress, and make adjustments as needed. Our user-friendly interface ensures you can manage your entries effortlessly. Start your journey towards a healthier you today!</p>

            <p>Our tools not only empower you to reach your weight goals but also to understand your progress through insights and milestones. Join a supportive community focused on health and happiness, and let’s make lasting lifestyle changes together!"</p>

        </section>

        <section class="features">
            <h2>Features</h2>
            <ul class="feature-list">
                <li class="feature-item">Add your weights easily and keep track of your progress.</li>
                <li class="feature-item">Edit and delete weights whenever needed.</li>
                <li class="feature-item">Calculate weight loss based on your entries.</li>
                <li class="feature-item">User-friendly interface with easy navigation.</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Weight Management App. All rights reserved.</p>
    </footer>
</body>
</html>
