<% title = 'Login' %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="/stylesheets/login.css"> <!-- Link to your new login CSS file -->
</head>
<body>
    <h1>Login</h1>

    <% if (message) { %>
        <div style="color: red;">
          <ul>
            <li><%= message %></li>
          </ul>
        </div>
    <% } %>

    <div class="login-form-container">
        <form action="/users/login" method="post">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="button-container">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>

    <p>Don't have an account? <a href="/users/signup">Sign Up here</a></p>
</body>
</html>
